<h1 class="text-center">Users</h1><hr>
<div class="container">
    <div class="pagination justify-content-center m-3"><%= will_paginate %></div>
    <div class="row">
        <% @users.each do |user| %>
            <div class="card m-3 text-center" style="width: 15rem;">
                <div><%= image_tag user.picture.to_s, size: 120 %></div>
                <div class="card-body">
                    <h5 class="card-title "><%= link_to user.name, user %></h5>
                    <p class="card-text"><%= user.email %></p>
                    <% if current_user.admin == true %>
                        <% if user.admin == false %>
                            <%= button_to "Set admin", admin_user_path(user),method: :patch, class: 'btn btn-primary btn-block' %>
                        <% else %>
                            <%= button_to "Remove admin", admin_user_path(user),method: :delete, class: "btn btn-danger btn-block" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>