<div class="container py-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card pb-3">
                <div class="card-body text-center">
                    <%= image_tag current_user.picture.to_s, size: 150%>
                    <h2><%= current_user.name %></h2>
                    <%= current_user.email %><br>
                    <%= link_to 'View profile', current_user, class: 'btn btn-sm btn-warning mt-2 text-white'%>
                    <%= link_to 'Update profile', edit_user_path(current_user), class: 'btn btn-sm btn-info mt-2'%>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header row">
                    <div class="col-6">
                        Words learned
                    </div>
                    <div class="col-6 text-right">
                        <%= link_to 'back to dashbord', '/dashbord', class: 'text-right'%>
                    </div>
                </div>
                <div class="dropdown col">
                    Category 
                    <button class="btn btn-light dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= @title %>
                    </button>
                    <div class="d-inline-block ml-5">
                        <%= will_paginate @answers %>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to 'All learned', words_path, class: 'dropdown-item' %>
                        <% @categories.each do |category|%>
                            <%= link_to category.title, words_path(category: category.id), class: 'dropdown-item' %>
                        <% end %>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col-3">Word</th>
                        <th scope="col-3">Your answer</th>
                        <th scope="col-3">Correct answer</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @answers.each do |a| %>
                            <tr>
                                <td><%= a.word.content %></td>
                                <td><%= a.choice.content %></td>
                                <td><%= a.choice.word.choices.find_by(correct_answer: true).content %></td>
                                <td>
                                    <% if a.choice.content == a.choice.word.choices.find_by(correct_answer: true).content %>
                                        <i class="far fa-circle"></i>
                                    <% else %>
                                        <i class="fas fa-times"></i>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>