<div class="container py-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card pb-3">
                <div class="card-body text-center">
                    <%= image_tag current_user.picture.to_s, size: 150%>
                    <h2><%= current_user.name %></h2>
                    <%= current_user.email %><br>
                    <%= link_to 'View profile', current_user, class: 'btn btn-sm btn-warning mt-2 text-white'%>
                    <%= link_to 'Update profile', edit_user_path(current_user), class: 'btn btn-sm btn-info mt-2'%>
                </div>
            </div>
            <div class="card text-center mt-5 p-3">
                <%= current_user.active_relationships.count %>following
                <%= current_user.passive_relationships.count %> followers
            </div>
            <div class="card text-center mt-5">
                <%= link_to '/words', class: 'btn btn-lg btn-info m-2' do %>
                <%=current_user.answers.count%><br>words learned
                <% end %>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    ACTIVITY FEED
                </div>
            </div>
        </div>
    </div>
</div>