<div class="container py-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card pb-3">
                <div class="card-body text-center">
                    <%= image_tag current_user.picture.to_s, size: 150%>
                    <h2><%= current_user.name %></h2>
                    <%= current_user.email %><br>
                    <%= link_to 'View profile', current_user, class: 'btn btn-sm btn-warning mt-2 text-white'%>
                    <%= link_to 'Update profile', edit_user_path(current_user), class: 'btn btn-sm btn-info mt-2'%>
                </div>
            </div>
            <div class="card text-center mt-5 p-3">
                <%= current_user.active_relationships.count %>following
                <%= current_user.passive_relationships.count %> followers
            </div>
            <div class="card text-center mt-5">
                <%= link_to '/words', class: 'btn btn-lg btn-info m-2' do %>
                <%=current_user.answers.count%><br>words learned
                <% end %>
            </div>
        </div>
        <div class="col-sm-8">
            <h2 class="text-center">ACTIVITY FEED</h2><hr>
                <% @activities.each do |activity| %>
                    <div class="media mb-4">
                        <div class="avatar">
                            <%= image_tag activity.user.picture.to_s, size: 75 %>
                        </div>
                        <div class="media-body">
                            <% if activity.action.instance_of?(Relationship)%>
                                <strong><%= link_to 'You', current_user, class: 'text-muted' if current_user == activity.user %><%= link_to activity.user.name, activity.user, class: 'text-muted' if activity.user != current_user %></strong> followed <span class="badge badge-primary"><%= link_to activity.action.followed.name, '#', class: 'text-white'%></span><br>
                                <small class="text-muted"><%= time_ago_in_words(activity.created_at)+" ago" %></small>
                            <% else %>
                                <strong><%= link_to 'You', current_user, class: 'text-muted' if current_user == activity.user %><%= link_to activity.user.name, activity.user, class: 'text-muted' if activity.user != current_user%></strong> Learned <%= activity.action.result%> of <%= activity.action.category.words.count%> in <span class="badge badge-secondary"><%= link_to activity.action.category.title, lesson_path(activity.action.id), class: "text-white" %></span><br>
                                <small class="text-muted"><%= time_ago_in_words(activity.created_at)+" ago" %></small>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                <div class="pagination justify-content-center">
                    <%= will_paginate @activities %>
                </div>
        </div>
    </div>
</div>