<div class="container py-5">
<ul class="nav nav-pills float-right">
  <li class="nav-item">
    <%= link_to 'All', categories_path, class: "nav-link #{current_page?(nil)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Learned', categories_path(status: 'learned'), class: "nav-link #{current_page?('learned')}"%>
  </li>
  <li class="nav-item">
    <%= link_to 'Not learned', categories_path(status: 'notlearned'), class: "nav-link #{current_page?('notlearned')}"%>
  </li>
</ul>
    <h1>Categories(<%= @categories.count %>)</h1>
    <div class="row pull-center">
        <% @categories.each do |category| %>
            <div class="card p-2 m-2 col-5">
                <div class="card-body">
                    <h4><%= category.title %></h4>
                    <strong>[<%= category.words.count %> words]</strong><%= category.description %></p>
                </div>
                <% lesson = Lesson.find_by(category_id: category.id, user_id: current_user.id) %>
                <% if lesson && lesson.result != nil %>
                    <%= link_to 'Result', lesson_path(lesson.id), class: 'btn btn-outline-dark btn-block mt-5'%>
                <% else %>
                    <%= link_to 'Learn', lessons_path(category_id: category.id), method: :post, class: 'btn btn-primary btn-block mt-5'%>
                <% end %>
            </div>
        <% end %>
    </div>

</div>