<div class="container py-5">
    <h1>Categories</h1>
    <ul class="nav nav-pills nav-warning float-right justify-content-end">
        <li class="nav-item">
            <%= link_to 'All', '#' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Learned', '#' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Not learned', '#' %>
        </li>
    </ul>
    <% @categories.each do |category| %>
    <div class="object-list row">
        <div class="col-md-6 mb-4">
            <article class="card p-2 h-100">
                <div class="card-body">
                    <h4><%= category.title %></h4>
                    <strong>[<%= category.words.count %> words]</strong><%= category.description %></p>
                </div>
                <div><%= link_to 'Learn', lessons_path(category_id: category.id), method: :post, class: 'btn btn-primary btn-block mt-5'%></div>
            </article>
        </div>
    </div>
    <% end %>
</div>